// VARIABLES, MIXINS, ETC

@vltflesh: rgb(255, 251, 249);
@ltflesh: rgb(255, 246, 242);
@black: rgb(55, 55, 55);
@grey: rgb(204, 204, 204);
@white: rgb(255, 255, 255);

.links {
  a {
    text-decoration: none;
    font-style: italic;
    color: @black;
    &:hover {
      color: @vltflesh;
      background-color: black;
    }
  }
}

.unordered-list {
  ul {
      list-style-type: none;
      li {
    	a {
	  text-decoration: none;
	  color: @black;
	  &:hover {
	    color: @vltflesh;
	    background-color: black;
	  }
	} 
      }
    }
}





// ELEMENTS

html, body {
  margin: 0;
  padding: 0;
  color: @black;
  font-family: 'Neuton', serif;
}

// .container {
//   padding: 0 5%;
// }

#intro, #about, #products1, #artists, #products2 {
  //margin: 3% 0;
  padding: 5% 8%;
}

#intro, #artists, footer {
  background-color: @ltflesh;
}


#intro {
  margin-top: 0;
  h1 {
    font-size: 5em;
    letter-spacing: .1em;
   }
  .intro-blurb {
    background-color: @vltflesh;
    padding: 2% 5%;
    width: 35%;
    p {
      font-size: 1.5em;
    }
  }
  img {
    width: 45%;
  }
}


#about {
  background-color: @vltflesh;
  .links;
  h2 {
    font-size: 2.25em;
    letter-spacing: .1em;
    text-align: center;
  }
}


// #products1 {
  
// }


#artists {
  .artists-container {
    background-color: @vltflesh;
    padding: 3%;
    .unordered-list;
  }
}


// #products2 {
	
// }


footer {
  padding: 5%;
  //margin-top: 3%;
  background-color: @ltflesh;
  .partners {
    background-color: @vltflesh;
    padding: 3%;
    .unordered-list;
  }
}





// RESPONSIVE GRID SYSTEM

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
	img {
	  width: 90%;
	  margin: 1.5%;
	}
}
.col:first-child { 
	margin-left: 0; 
}

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

// END RESPONSIVE GRID SYSTEM
