// VARIABLES, MIXINS, ETC

@vltflesh: rgb(255, 251, 249);
@ltflesh: rgb(255, 246, 242);
@black: rgb(55, 55, 55);
@grey: rgb(204, 204, 204);
@white: rgb(255, 255, 255);



// ELEMENTS

html, body {
  margin: 0;
  padding: 0;
  color: @black;
  font-family: 'Neuton', serif;
}

.container {
  padding: 0 5%;
}

#intro, #artists, #footer {
  background-color: @ltflesh;
}
